<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676262275974-ene805buehoup4ql802j33563ch5hke4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676262275974-ene805buehoup4ql802j33563ch5hke4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>676262275974-honndu0t5gvncjgfhmnn0j7oifhanglj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOA2klJ37rgiBsoarVIKLtA3J75HEUgoE</string>
	<key>GCM_SENDER_ID</key>
	<string>676262275974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onsaemiro</string>
	<key>PROJECT_ID</key>
	<string>onsaemiro-3cd5d</string>
	<key>STORAGE_BUCKET</key>
	<string>onsaemiro-3cd5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676262275974:ios:0d22e19cbb3ed58d001a07</string>
</dict>
</plist>